body {
  padding: 0;
  background-color: #F1F1F1;
  height: 1690px;
  margin: 0;
}

.spichki {
  position: absolute;
  right: 1%;
  left: auto;

}
.first {

height: 365px;

}
.strelka{
  position: absolute;
  right: 50%;
top: 50px;
}

.fonts{

  position: relative;
}


.man {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
position: relative;
z-index: 1;
}

.manb{
  width: 100%;


}

.fire {
width: 25%;
}

.spichka {
  position: absolute;
  left: 309px;
  top: 630px;
}





.icon1 {
  position: absolute;
  right: 20%;
  top: 160px;
  animation: appear 2s infinite;
}

@keyframes appear {
  0% {transform: scale(0);}
    100% {transform: scale(1);}
}
.icon2 {
  position: absolute;
  right: 60%;
  top: 180px;
    animation: appear 2s infinite;
    animation-delay: 1s;
}

.icon3 {
  position: absolute;
  right: 75%;
  top: 430px;
    animation: appear2 2s infinite;
    animation-delay: 0.5s;
}
@keyframes appear2 {
  0% {transform: scale(0);}
    100% {transform: scale(1.5);}
}

.whiterectangle {
  height: 81px;
  background-color: white;
  display: flex;
  justify-content: space-between;
position: relative;
z-index: 2;
margin-top: -40px;
padding: 0 10px;
}
.icon4 {
  position: absolute;
  left: 20%;
  top: 1100px;
    animation: appear2 2s infinite;
}

.icon5 {
  position: absolute;
  right: 15%;
  top: 440px;
    animation: appear2 2s infinite;
}
.icon6 {
  position: absolute;
    right: 50%;
  top: 550px;
    animation: appear2 2s infinite;
}
.icon7 {
  position: absolute;
    right: 75%;
  top: 900px;
    animation: appear2 2s infinite;
}
.icon8 {
  position: absolute;
    left: 75%;
  top: 800px;
    animation: appear3 2s infinite;
}
@keyframes appear3 {
  0% {transform: scale(0);}
    100% {transform: scale(2);}
}
.icon9 {
  position: absolute;
    right: 45%;
  top: 1100px;
    animation: appear3 2s infinite;
}

.icon10 {
  position: absolute;
    right: 15%;
  top: 1550px;
    animation: appear3 2s infinite;
}
.icon11 {
  position: absolute;
    right: 15%;
  top: 1900px;
    animation: appear3 2s infinite;
}


.icon12 {
  position: absolute;
    right: 65%;
  top: 1490px;
    animation: appear3 2s infinite;
}

.icon13 {
  position: absolute;
    right: 75%;
  top: 1990px;
    animation: appear3 2s infinite;
}

.container1 {

  overflow: hidden;



}
h1 {
  font-family: helvetica;
  font-size: 140px;
  display: inline-block;
margin-bottom: 30px;
white-space: nowrap;
}

.frontanimation1 {

  animation: roll 5s linear infinite;


}

@keyframes roll {
  0% {transform: translate(0,0);}
  100% {transform: translate(-50% , 0);}
}

.frontanimation2 {

  animation: roll 5s linear infinite;




}
.frontanimation3 {

  animation: roll 5s linear infinite;

}
.frontanimation4 {

  animation: roll 5s linear infinite;

}

.frontanimation5 {

  animation: roll 5s linear infinite;


}
.frontanimation6 {

  animation: roll 5s linear infinite;


}
h2 {
  font-family: helvetica;
  font-size: 26px;

}

.logo {


}
