body {
  padding: 0;
  background-color: #F1F1F1;
  height: 1690px;
  margin: 0;
}

.spichki {
  position: absolute;
  right: 1%;
  left: auto;

}
.first {

height: 365px;

}
.strelka{
  position: absolute;
  right: 50%;
top: 50px;
}

.fonts{
  overflow: hidden;
  height: 1344px;
}
h1 {
  font-family: helvetica;
  font-size: 140px;
  width: 300%;
margin: 0;
}

.man {
   height: 1210px;
}

.manb{
  width: 100%;
  position: absolute;
  left: 0px;
top:2200px;
transform: rotate(0.85deg);


}



.spichka {
  position: absolute;
  left: 309px;
  top: 630px;
}





.icon1 {
  position: absolute;
  right: 20%;
  top: 600px;
  animation: appear 2s infinite;
}

@keyframes appear {
  0% {transform: scale(0);}
    100% {transform: scale(1);}
}
.icon2 {
  position: absolute;
  right: 60%;
  top: 700px;
    animation: appear 2s infinite;
    animation-delay: 1s;
}

.icon3 {
  position: absolute;
  right: 40%;
  top: 900px;
    animation: appear2 2s infinite;
    animation-delay: 0.5s;
}
@keyframes appear2 {
  0% {transform: scale(0);}
    100% {transform: scale(1.5);}
}

.whiterectangle {
  height: 81px;
  background-color: white;
  display: flex;
  justify-content: space-between;

}
.icon4 {
  position: absolute;
  left: 20%;
  top: 1100px;
    animation: appear2 2s infinite;
}

.icon5 {
  position: absolute;
  right: 5%;
  top: 1100px;
    animation: appear2 2s infinite;
}
.icon6 {
  position: absolute;
    right: 30%;
  top: 1300px;
    animation: appear2 2s infinite;
}
.icon7 {
  position: absolute;
    right: 40%;
  top: 1100px;
    animation: appear2 2s infinite;
}
.icon8 {
  position: absolute;
    left: 15%;
  top: 1200px;
    animation: appear3 2s infinite;
}
@keyframes appear3 {
  0% {transform: scale(0);}
    100% {transform: scale(2);}
}
.icon9 {
  position: absolute;
    right: 85%;
  top: 2100px;
    animation: appear3 2s infinite;
}

.icon10 {
  position: absolute;
    right: 15%;
  top: 1800px;
    animation: appear3 2s infinite;
}
.icon11 {
  position: absolute;
    right: 75%;
  top: 1800px;
    animation: appear3 2s infinite;
}

.fire {
  position: absolute;
    right: 39%;
      top: 1750px;
}
.icon12 {
  position: absolute;
    right: 65%;
  top: 1490px;
    animation: appear3 2s infinite;
}

.icon13 {
  position: absolute;
    right: 15%;
  top: 2090px;
    animation: appear3 2s infinite;
}

.container1 {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: green;
  margin-bottom: 130px;

}

.frontanimation1 {
  position: absolute;
  animation: roll 5s linear infinite;
  left: 0;

}

@keyframes roll {
  0% {left: 0;}
  100% {left: -107% ;}
}

.frontanimation2 {
  position: absolute;
  animation: roll 5s linear infinite;
  left: 0;
  top: 70%;

}
.frontanimation3 {
  position: absolute;
  animation: roll 5s linear infinite;
  left: 0;
  top: 90%;

}
.frontanimation4 {
  position: absolute;
  animation: roll 5s linear infinite;
  left: 0;
  top: 110%;

}

.frontanimation5 {
  position: absolute;
  animation: roll 5s linear infinite;
  left: 0;
  top: 140%;

}
.frontanimation6 {
  position: absolute;
  animation: roll 5s linear infinite;
  left: 0;
  top: 180%;

}
h2 {
  font-family: helvetica;
  font-size: 26px;
 display: inline-block;
}

.logo {
   display: inline-block;

}
