@import "content.css";

@font-face {
  font-family: Dryhten;
  src: url("../fonts/DryhtenRegular.otf") format("OpenType");

}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/helvetica.otf") format("OpenType");

}
